$main-font: "Rubik";
$button-bgc1: rgb(255, 74, 82);
$button-bgc2: rgb(31, 198, 182);
$radius:3px;
$white: white;
$shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$link-hover1: rgb(31, 198, 182);
$link-hover2: rgb(255, 74, 82);
$radius2:15px;
$transition: 0.3s;
$font: "Marck Script";